DEBUG=True
JWT_SECRET_KEY=shura-task-dev-secret-key-change-in-production-32

DATABASE_URL=postgresql://neondb_owner:npg_gAum7NW5yHUB@ep-proud-poetry-b3hkjjwy-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL_SYNC=postgresql://neondb_owner:npg_gAum7NW5yHUB@ep-proud-poetry-b3hkjjwy-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CORS_ORIGINS=["http://localhost:4200","http://127.0.0.1:4200"]

